html {
  font-family: "Oswald"; 
  margin: 1em 20%;
  background-color: #f1eded;
}
header { 
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid #e3e3e8;

}

nav {
  float: left;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 2.2em 2em;
}
nav ul li {
  display: inline;
  padding: 0 .4em;
}
nav ul li a {
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6em;
  padding-bottom: 1.3em;
  transition: .5s color;
}
nav ul li a:hover {
  border-bottom: 3px solid #333;
}
#m:hover {
  color: #0e0bee;
}
#l:hover {
  color: #0e0bee;  /* hover effect for different navigation buttons */
}
#g:hover {
  color: #0e0bee;
}
#c:hover {
  color: #0e0bee;
}
#gl:hover {
  color: #0e0bee;
}
#h:hover {
  color: #0e0bee;
}
footer {                    /* styles for page footer */
  position: absolute;
    bottom: 10px;
    width: 50%;
    border: 3px solid rgb(182, 184, 179);
    text-align: center;
  }

  
.box{
  position: fixed; /* home page box */
  top: 110px;
  left:50px;
  width: 300px;
  border: 3px solid rgb(102, 102, 100);
  
}
h3 {
  text-align: center;   /* Styles for headings */
}
  h4 {
    text-align: center;
  }
    h5 {
      text-align: center;
}
.box2{
  position: fixed;
  bottom: 218px; /* home page box */
  right:50px;
  width: 300px;
  border: 3px solid rgb(102, 102, 100);
}
.box3{ 
  position: fixed;
  top: 110px;
  left:480px;
  width: 560px;
  height:500px;
  border: 3px solid rgb(102, 102, 100);
}
.box4{
  position: fixed;
  top: 110px; /* glossary page box */
  left:50px;
  width: 1430px;
  height:550px;
  border: 3px solid rgb(102, 102, 100);
}
.box5{
  position: fixed;
  top: 110px; /* Comparison page box */ 
  left:80px;
  width: 400px;
  height:500px;
  border: 3px solid rgb(102, 102, 100);
}

.box6{
  position: fixed;
  top: 110px;
  left:580px; /* Comparison page box */ 
  width: 400px;
  height:500px;
  border: 3px solid rgb(102, 102, 100);
}
.box7{
  position: fixed;
  top: 110px;
  left:1070px;/* Comparison page box */ 
  width: 400px;
  height:500px;
  border: 3px solid rgb(102, 102, 100);
}
.box22{
  position: fixed;
  top: 110px;
  left:480px; /* game page box */ 
  width: 560px;
  height:500px;
  border: 3px solid rgb(102, 102, 100);
}
@media only screen and (max-width: 400px) {
  body1 {
    background-color: #F09A9D; /* For some reason this didnt work */
  }
  @media only screen and (min-width: 961px) {
    body1 {
      background-color: #B2D6FF; /* For some reason this didnt work */
    }
    .box23{
      position: fixed;
      top: 110px;
      left:50px; /* game page box for video */ 
      width: 1430px;
      height:550px;
      border: 3px solid rgb(102, 102, 100);
    }   
    }
    }
    